.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  border-radius: 25px;

}

.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 24, 24);
}
body{
  background-color: #ffffff;

}
.App-content {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 24, 24);
}
.App-footer {
  background-color: #f3f3f3;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(24, 24, 24);

}
td {
  padding: 10px;

}

.invisible{
  color: #f3f3f3;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fade-in {
  transition: opacity 1s ease;
  
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
  
}
.chevron::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
  top: 0;
	transform: rotate(135deg);
}

